<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727941045826-dcvuf9usj1na8qnrp7idqn8nu0jaul49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727941045826-dcvuf9usj1na8qnrp7idqn8nu0jaul49</string>
	<key>API_KEY</key>
	<string>AIzaSyDUPcVqPm-8GZoijyOiTRa0Se8tXXIAtI4</string>
	<key>GCM_SENDER_ID</key>
	<string>727941045826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pop.poppin</string>
	<key>PROJECT_ID</key>
	<string>poppin-40ea3</string>
	<key>STORAGE_BUCKET</key>
	<string>poppin-40ea3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727941045826:ios:3c93abfda28a82edddd7db</string>
</dict>
</plist>